<% let index = 0;
let counter = 0;
while (counter < 6) { 
     if (jsonData[index].coverImage) { %>
<div class="col-md-4">
    <div class="fh5co-blog animate-box">
        <%
            let blogUrl = jsonData[index].url
            let imageUrl = jsonData[index].coverImage.url
            
            const replacementUrl = "tech.anupamm.com"
            const originalUrlSearchString = /anupammajhi\.hashnode\.dev/g

            blogUrl = blogUrl.replace(originalUrlSearchString, replacementUrl)
            imageUrl = imageUrl.replace(originalUrlSearchString, replacementUrl)
        %>
        <a href="<%= blogUrl %>" class="blog-bg" style="background-image: url(<%= imageUrl %>);"></a>
        <div class="blog-text">
            <% 
            let date = new Date(jsonData[index].publishedAt);
            let formattedDate = date.toLocaleString('en-US', {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            });
            %>
            <span class="posted_on"><%= formattedDate %></span>
            <h3><a href="<%= blogUrl %>"><%= jsonData[index].title %></a></h3>
            <p><%= jsonData[index].brief %></p>
            <ul class="stuff">
                <li><i class="icon-eye2"></i><%= jsonData[index].views %></li>
                <li><a href="<%= blogUrl %>">Read More<i class="icon-arrow-right22"></i></a></li>
            </ul>
        </div> 
    </div>
</div>
    <%
    // Increment counter
    counter++; 
    } %>
<%
    // Increment index
    index++;
} %>